{% extends "base.html" %}

{% block adminzone %}
    <div class="adminzone">
        <div class="user_spare1"></div>
        <div class="user_panel">
            <center><div class="logo">{% include 'scheduler/svg/logo.svg' %}</div></center>
            <center><h1>Enregistrement sur {{ realm.name }}</h1></center>
            <p>Ce formulaire va vous permettre de vous enreigtrer sur eXtraventures, dans la communauté {{ realm.name }}.
                Vous recevrez un message pour valider votre inscription sur l'adresse électronique renseignée.</p>
            <form method="POST" id="register_form" name="register_form">
                {% csrf_token %}
                <table class="invite">
                    <tr>
                        <th><label for="email">Adresse électronique</label></th>
                        <td><input type="text" name="email" placeholder="prenom.nom@fournisseur.fr"
                                   style="width:50ex;"/></td>
                        <td style="width:15px;"><i class="fa fa-star" style="color:deeppink;"></i></td>
                    </tr>
                    <tr>
                        <th><label for="username">Identifiant de connexion</label></th>
                        <td><input type="text" name="username" placeholder="Sans espace, lettres minuscules et _ uniquement." style="width:50ex;"/></td>
                        <td style="width:15px;"><i class="fa fa-star" style="color:deeppink;"></i></td>
                    </tr>
                    <tr>
                        <th><label for="password">Mot de passe</label></th>
                        <td><input type="password" name="password" style="width:50ex;" value=""/></td>
                        <td style="width:15px;"><i class="fa fa-star" style="color:deeppink;"></i></td>
                    </tr>
                    <tr>
                        <th><label for="confirm">Confirmation</label></th>
                        <td><input type="password" name="confirm" style="width:50ex;"  value=""/></td>
                        <td style="width:15px;"><i class="fa fa-star" style="color:deeppink;"></i></td>
                    </tr>
                    <tr>
                        <th><label for="nickname">Surnom</label>
                        </th>
                        <td><input type="text" name="nickname" placeholder="Votre nom affiché dans l'appli" style="width:50ex;"/></td>
                        <td style="width:15px;"></td>
                    </tr>
                    <tr>
                        <th><label for="gender">Madame/Mademoiselle?</label></th>
                        <td><input type="checkbox" name="gender" style="width:50ex;"/></td>
                        <td style="width:15px;"></td>
                    </tr>

                    <tr>
                        <td colspan="3" title="Pourquoi une étoile rose ? Je n'ai pas trouvé de licorne.">(<i class="fa fa-star" style="color:deeppink;"></i>): Champs obligatoires</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="button action" action="register_submit"><i class="fas fa-circle-arrow-right"></i>&nbsp;Envoi</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="user_spare2"></div>
    </div>
{% endblock adminzone %}

{% block custom_js %}
    <script>
        _.defer(function () {
            let co = new Scheduler()
            co.perform();
            co.revealLog();

        });
    </script>
{% endblock custom_js %}