{% extends "base.html" %}

{% block adminzone %}
    <div class="adminzone">
        <div class="user_spare1"></div>
        <div class="user_panel">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <center><div class="logo">{% include 'scheduler/svg/logo.svg' %}</div></center>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <center>
                    <input class='button' type="submit" value="Connexion"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </center>
            </form>
            <center>
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Mot de passe perdu?</a></p>
            </center>
        </div>
        <div class="user_spare2"></div>
    </div>
{% endblock adminzone %}

{% block custom_js %}
    <script>
        _.defer(function () {
            let co = new Scheduler()
            co.perform();
            co.revealLog();
        });
    </script>
{% endblock custom_js %}