{% extends "base.html" %}

{% block adminzone %}
    <div class="adminzone">
        <div class="user_spare1"></div>
        <div class="user_panel">
            {% if form.errors %}
                <p>Il y a eu un problème de correspondance compte/mot de passe. Merci de réessayer.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <center>
                        <div class="logo">{% include 'scheduler/svg/logo.svg' %}</div>
                    </center>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    {#   form.as_table #}
                    <tr>
                        <th><label for="id_username">Utilisateur</label></th>
                        <td>

                            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username"
                                   maxlength="150" required id="id_username">


                        </td>
                    </tr>

                    <tr>
                        <th><label for="id_password">Mot de passe</label></th>
                        <td>

                            <input type="password" name="password" autocomplete="current-password" required
                                   id="id_password">


                        </td>
                    </tr>


                </table>
                <center>
                    <input class='button' type="submit" value="Connexion"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </center>
            </form>
            <center>
                {# Assumes you setup the password_reset view in your URLconf #}

            </center>
        </div>
        <div class="user_spare2"></div>
    </div>
{% endblock adminzone %}

{% block custom_js %}
    <script>
        _.defer(function () {
            let co = new Scheduler()
            co.perform();
            co.revealLog();
        });
    </script>
{% endblock custom_js %}