[Unit]
Description=Airshield Celery Beat Service
Wants=celeryd.service
After=celeryd.service

[Service]
Type=simple
PassEnvironment=CELERY_APP
PassEnvironment=CELERYBEAT_USER CELERYBEAT_GROUP
PassEnvironment=CELERYBEAT_PID_FILE CELERYBEAT_LOG_FILE
EnvironmentFile=/etc/sysconfig/celerybeat
Environment=CELERY_BIN=/usr/local/bin/py3-celery
Environment=CELERYBEAT_PID_FILE=/var/run/celery/celerybeat.pid
Environment=CELERYBEAT_LOG_FILE=/var/log/celery/celerybeat.log
Environment="DAEMON_OPTS=--uid=$CELERYBEAT_USER --gid=$CELERYBEAT_GROUP \
             --pidfile=${CELERYD_PID_FILE}"
ExecStartPre=/usr/bin/install -d -g apache -o apache -m u=rwx,g=srwx,o=rx /var/run/celery
ExecStart=/bin/sh -c '. /etc/sysconfig/celerybeat; ${CELERY_BIN} ${DAEMON_OPTS} \
    -A ${CELERY_APP} beat  \
    -s /var/run/celery/celerybeat-schedule \
    --pidfile=${CELERYBEAT_PID_FILE} \
    --logfile=${CELERYBEAT_LOG_FILE}'
Restart=always

[Install]
WantedBy=multi-user.target
