[Unit]
Description=AirShield celeryd distributed task queue
After=rabbitmq-server.service redis.service postgresql-11.service syslog.target network.target
Wants=rabbitmq-server.service redis.service postgresql-11.service

[Service]
Type=forking
PassEnvironment=CELERY_APP
PassEnvironment=AIRSHIELD_CONCURRENCY AIRSHIELD_FILES_CONCURRENCY \
                AIRSHIELD_POST_CONCURRENCY
EnvironmentFile=/etc/sysconfig/celeryd
Environment=CELERY_BIN=/usr/bin/py3-celery
Environment="CELERYD='-m celery.bin.celeryd_detach'"
Environment="CELERYD_PID_FILE=/var/run/celery/celeryd-%%n.pid"
Environment="DAEMON_OPTS=--uid=$CELERYD_USER --gid=$CELERYD_GROUP \
             --pidfile=${CELERYD_PID_FILE}"
ExecStartPre=/usr/bin/install -d -g apache -o apache -m u=rwx,g=srwx,o=rx /var/run/celery
ExecStart=/bin/sh -c '. /etc/sysconfig/celeryd; \
        ${CELERY_BIN} ${DAEMON_OPTS} multi start $CELERYD_NODES \
        --logfile="$CELERYD_LOG_FILE" \
        --loglevel="$CELERYD_LOG_LEVEL" \
        $CELERYD_OPTS'
ExecStop=/bin/sh -c '. /etc/sysconfig/celeryd; \
       ${CELERY_BIN} ${DAEMON_OPTS} multi stop $CELERYD_NODES'
ExecReload=/bin/sh -c '. /etc/sysconfig/celeryd; \
        ${CELERY_BIN} ${DAEMON_OPTS} multi restart $CELERYD_NODES \
        --logfile="$CELERYD_LOG_FILE" \
        --loglevel="$CELERYD_LOG_LEVEL" \
        $CELERYD_OPTS'


[Install]
WantedBy=default.target
