

Salutations {c.profile.nickname}!

Vous recevez ce message car le flag Cyber PostIt est activé sur votre compte eXtraventures.
Vous ne recevrez ce message que si vous participez à des parties aujourd'hui. Si ce n'est pas le cas, pas de message!
<hr/>
Alors, puisque nous en somme là, c'est qu'il y a quelque chose à dire...


Salutations, {{ c.profile.nickname }}!

{% if c.has_played %}
    <h2>Parties jouées...</h2>
    {% for s in c.played_sessions %}
        {% include "scheduler/email/email_session.html" with s=s %}
    {% endfor %}
{% endif %}

{% if c.has_masterized %}
    <h2>Parties menées...</h2>
    {% for s in c.masterized_sessions %}
        {% include "scheduler/email/email_session.html" with s=s %}
    {% endfor %}
{% endif %}
<hr/>


::mouhahahahahahaha::
Votre dévoué serviteur eXtraordinaire,
Fernando Casabuentes.