{% load static %}

<h1>Salutations <b>{{nickname}}</b>!</h1>
<br/>Vous recevez ce message car le flag Cyber PostIt est activé sur votre compte eXtraventures.
<br/>Vous ne recevrez ce message que si vous participez à des parties aujourd'hui. Si ce n'est pas le cas, pas de message!
</h1>
<hr/>
<p>Alors, puisque nous en somme là, c'est qu'il y a quelque chose à dire...
</p>

{% if has_played %}
    <h2>Parties jouées...</h2>
    {% for s in played_data %}
        {% include "scheduler/emails/email_session.html" with s=s %}
    {% endfor %}
{% endif %}

{% if has_masterized %}
    <h2>Parties menées...</h2>
    {% for s in masterized_data %}
        {% include "scheduler/emails/email_session.html" with s=s %}
    {% endfor %}
{% endif %}


{% if has_wanted %}
    <h2>Parties où vous êtes sollicités mais pas inscrits...</h2>
    {% for s in wanted_data %}
        {% include "scheduler/emails/email_session.html" with s=s %}
    {% endfor %}
{% endif %}

<p>::mouhahahahahahaha::
Votre dévoué serviteur eXtraordinaire,
Fernando Casabuentes.
</p>