{% load static %}

<table class="session_info {% if s.alert %}alert{% endif %}">
    <tr>
        <th>Titre</th>
        <td>{{ s.title }}</td>
    </tr>
    <tr>
        <th>MJ</th>
        <td> {{ s.mj }}
        {% include "scheduler/player_shortcut.html" with u=s.mj scale=1 %}</td>
    </tr>
    <tr>
        <th>Jeu</th>
        <td><b>{{ s.game }}</b></td>
    </tr>
    <tr>
        <th>Date</th>
        <td> {{ s.date }}</td>
    </tr>
    <tr>
        <th>Heure de début</th>
        <td> {{ s.start }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ s.description|safe }}</td>
    </tr>
    <tr>
        <th>Lieu</th>
        <td> {{ s.place }}</td>
    </tr>
</table>