{% load static %}

<table class="session_info">
    <tr>
        <th>Titre</th>
        <td>{{ s.title }}</td>
    </tr>
    <tr>
        <th>MJ</th>
        <td> {{ s.mj }}</td>
    </tr>
    <tr>
        <th>Jeu</th>
        <td> {{ s.game }}</td>
    </tr>
    <tr>
        <th>Début de partie</th>
        <td> {{ s.start }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ s.description|safe }}</td>
    </tr>
    <tr>
        <th>Lieu</th>
        <td> {{ s.place }}</td>
    </tr>
</table>