{% load static %}

<table class="session_info {% if s.alert %}alert{% endif %}">
    <tr>
        <th>Titre</th>
        <td>{{ s.title }}</td>
    </tr>
    <tr>
        <th>MJ</th>
        <td> {{ s.mj }}</td>
    </tr>
    <tr>
        <th>Jeu</th>
        <td> {{ s.game }}
        {% include "scheduler/game_shortcut.html" with g=s.game %}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td> {{ s.date }}</td>
    </tr>
    <tr>
        <th>Heure de début</th>
        <td> {{ s.start }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ s.description|safe }}</td>
    </tr>
    <tr>
        <th>Lieu</th>
        <td> {{ s.place }}</td>
    </tr>
</table>