@charset "UTF-8";
$body_color: #101010;
$body_background: #808080;
// Main colors
$panel_background: #E0D0F0;
$button_background: #603090;

$panel_text: #202020;
$panel_color: lighten(desaturate($panel_background,70%),50%);
$panel_border: darken($panel_color,40%);
$panel_shadow: darken($panel_background, 50%);
$panel_plank_background: darken($panel_background, 5%);
$panel_shard_background: darken($panel_background, 15%);
$panel_smooth_background: grayscale($panel_background);
$panel_day_background: darken($panel_background,25%);

$panel_week_background: darken($panel_background, 5%);

$color_highlight: #ff9100;

$st_color: #F0F0F0;
$st_background: #305030;

$button_color: #F0F0F0;

$button_border: #224466;

$color_current: violet;
$color_current_hover: mediumorchid;
$color_frame: lightgrey;
$color_frame_hover: cyan;
$panel_day_background: #86b2b2;
$panel_day_off_background: #afaf68;
$panel_day_current_background: #577057;
$color_off_hover: yellow;


$env_text: black;



$plate_color: lighten($panel_color,10%);
$plate_highlight: #FFFFFF;
$plate: #3a343e;
$plate_shadow: #101010;
$plate_selected: complement($panel_background);
$dark_plate: darken($plate, 5%);
$very_dark_plate: darken($dark_plate, 5%);
$focus_color: #22C0F0;

@mixin panel {
  background: $panel_background;
  color: $panel_color;
  border: 1px solid $panel_border;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 0 0 3px $panel_shadow;
  font-family: Roboto;
  font-size: 10pt;
}

@mixin body_background {
  //background: transparent url('../colorful-grunge-texture-10.jpg') fixed; // 100% 100% no-repeat fixed;
  background: $body_background;
  color: $body_color;
}

.hidden {
  display: none;
}


