@import 'basics';

body {
  margin: 0;
  padding: 0;
  @include body_background;
}

#bad_size {
  display: none;
  color: lightgreen;
  font-family: Cutive Mono;
  font-weight: bold;
  font-size:: 9pt;

  padding: 2em;

}

@media only screen and (max-width: 600px) {
  body {
    background: black;
    border-left: 5px solid darkgoldenrod;

    #bad_size {
      display: block;
    }

    & .world {
      display: none !important;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1149px) {
  body {
    background: black;


    & .world {
      display: none !important;
    }
  }
}


@media all and (min-width: 1150px) {
  body {

    & .world {
      margin-top: 5px;
      z-index: 5;
      position: absolute;
      color: $body_color;
      font-family: Acme;
      //background: red;
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: flex-start;
      align-items: stretch;
      row-gap: 1px;
      column-gap: 1px;
      border-radius: 10px;

      & .spare_left {
        order: 1;
        flex-shrink: 2;
        //background: red;
      }

      & .spare_right {
        order: 3;
        flex-shrink: 2;
        //background: blue;

      }

      & .corpus {
        //box-shadow: 15px 10px 20px black;
        width: auto;
        flex-shrink: 1;
        order: 2;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        gap: 0 0;
        border-radius: 10px;

        & .menuzone, & .eventzone, & .userzone, & .wrapper {
          border: 1px solid $panel_border;
          background: $panel_background;
          color: $panel_color;
        }

        & .menuzone {
          min-height: 10px;
          width: 100%;
          order: 2;
          padding: 5px;
          display: flex;
          flex-row: row wrap;
          justify-content: flex-start;
          align-content: flex-start;
          align-items: stretch;
          gap: 1px 1px;
        }


        & .adminzone {
          height: auto;
          background: transparent;
          max-width: 600px;
          order: 0;
          padding: 5px;
          margin-top: 100px;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-content: stretch;
          align-items: stretch;
          gap: 1px 1px;


          & .user_spare1 {
            order: 1;
            width: 150px;
            background: transparent;
          }

          & .user_panel {
            order: 2;
            font-family: Roboto;
            font-size: 10pt;
            border-radius: 10px;
            border: 1px solid yellow;
            padding: 5px;
            background: $panel_background;
            border-color: $panel_border;
            color: $panel_color;
            width: auto;

            & a {
              color: #FFCC44;
              text-decoration: none;
            }
          }

          & .user_spare2 {
            order: 3;
            width: 150px;
            background: transparent;
          }
        }


        & .userzone {
          padding: 5px;
          min-height: 10px;
          width: 100%;
          order: 1;
          text-align: right;
          font-size: 8pt;
          border-radius: 10px 10px 0 0;


          & .logo {
            order: 2;
            border-radius: 10px 10px 0 0;
          }

          & .title {
            order: 3;

          }

          & .title, & .pretitle {


            font-size: 32pt;

            & strong {
              font-family: Gruppo;
              font-weight: bold;
              color: $panel_color;
            }

            & em {
              font-family: Hubballi;
              color: darken($panel_color, 40%);
              font-style: normal;
            }
          }

          & .pretitle {
            order: 1;

          }
        }

        & .wrapper {
          order: 3;
          width: 100%;
          //min-height: 700px;
          heigth: auto;
          padding: 5px;

          & .user_details {
            display: flex;
            flex-flow: column wrap;
            gap: 5px;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;

            & .profile {
              order: 1;

              background: $paper_background;
              color: black;
              flex-grow: 1;
              flex-shrink: 1;
              //min-width:450px;
              border-radius: 5px;
              //width: 100%;
            }

            & .realm {
              order: 4;
              background: lightsteelblue;
            }

            & .campaigns_list {
              order: 3;
              background: lightgrey;

              & table {
                color: black;
                width: 100%;

              }

              flex-grow: 1;
              flex-shrink: 1;
              border-radius: 5px;

            }

            & .games_list {
              order: 4;
              background: lightgrey;

              & table {
                color: black;
                width: 100%;

              }

              flex-grow: 1;
              flex-shrink: 1;
              border-radius: 5px;

            }


            & .propositions_list {
              order: 2;
              background: lightgrey;

              & table {
                color: black;

                width: 100%;


              }

              flex-grow: 1;
              flex-shrink: 1;
              border-radius: 5px;

            }

          }

        }

        & .eventzone {
          order: 4;
          font-family: roboto;
          font-size: 8pt;
          display: flex;
          flex-flow: row wrap;
          justify-content: stretch;
          align-content: stretch;
          align-items: stretch;
          min-height: 10px;
          width: 100%;
          padding: 5px;
          gap: 0 3px;
          border-radius: 0 0 5px 5px;

          & .ablock, & .eblock, & .zblock {
            border: 1px solid transparent;
            background: $panel1_background;
            color: $panel1_color;
            border-color: $panel1_border;
          }

          & .ablock {
            order: 1;
            width: 300px;
            text-align: center;
            border-radius: 5px 0 0 5px;
          }

          & .eblock {
            order: 5;
            min-width: 60px;
            text-align: center;
          }

          & .zblock {
            order: 10;
            flex-grow: 1;
            text-align: center;
            border-radius: 0 5px 5px 0;
          }
        }


      }
    }

    .wrapper {
      font-size: 10pt;

      .omonth {
        width: auto;
        height: auto;
        padding: 0;
        margin: auto 0;
        background: transparent;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        gap: 0 0;

        & .month_info {
          order: 1;
          width: 100%;
          border-radius: 10px;
        }

        & .month_body {
          order: 2;
          background: transparent;
          display: flex;
          flex-flow: column wrap;
          justify-content: flex-start;
          align-content: stretch;
          align-items: stretch;
          gap: 5px 0;


          .oweek {
            border-radius: 10px;
            order: 2;
            height: auto;
            padding: 4px 2px;
            margin: auto 2px;
            background: $panel1_background;
            color: $panel1_color;
            border-color: $panel1_border;
            display: flex;
            flex-flow: column wrap;
            justify-content: stretch;
            align-content: stretch;
            align-items: stretch;
            gap: 2px 2px;

            & .week_info {
              order: 1;
              background: transparent;
              color: $panel2_color;
              margin: 0 4px;
              text-align: center;
            }


            & .week_body {
              order: 2;
              background: transparent;
              color: $panel2_color;
              display: flex;
              flex-flow: row wrap;
              justify-content: center;
              align-content: flex-start;
              align-items: stretch;
              gap: 3px 3px;

              & .day_details {
                order: 8;
                background: $paper_background;
                border: 3px solid $paper_border;
                text-align: left;
                color: $paper_color;
                width: 510px;
                height: 625px;
                padding: 5px;
                overflow-y: scroll;

                & h1 {
                  text-align: center;
                }

                & p {
                  margin: 0;
                  margin-bottom: 3px;
                }


              }

              & .oday {
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                align-content: stretch;
                align-items: stretch;
                background: $panel_smooth_background;
                color: $panel_color;
                width: 150px;
                gap: 0 0;
                border: 3px solid $panel_border;
                border-top-width: 8px;

                &:hover {
                  border-color: $highlight_background;
                }


                & .day_info {


                  order: 1;
                  height: 3em;
                  border: 1px solid transparent;
                  background: $panel_day_background;
                  color: $env_text;
                  cursor: pointer;

                  display: flex;
                  flex-flow: row wrap;

                  justify-content: stretch;
                  align-items: stretch;
                  align-content: flex-end;
                  gap: 0 2px;

                  & .dia, & .dib, & .dic {
                    order: 1;
                    flex-grow: 1;
                    font-size: 1em;
                    background: lighten($panel_day_background, 10%);
                    border-radius: 3px;
                    padding: 3px;
                    border: 1px solid $panel3_border;
                  }

                  & .dib {
                    order: 2;
                    flex-grow: 5;
                    font-size: 1em;
                  }

                  & .dic {
                    order: 3;
                    font-size: 1.5em;
                    flex-grow: 1;
                    color: #1a1a1a;
                  }


                }

                & .day_bottom {
                  order: 3;
                  height: 20px;
                  background: $panel_day_background;
                  color: $env_text;
                  border: 1px solid transparent;
                }

                & .day_body {
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: center;
                  align-content: flex-start;
                  align-items: stretch;
                  gap: 0 3px;
                  order: 2;
                  min-height: 100px;
                  background: $panel_day_background;
                  color: $env_text;
                  border: 1px solid transparent;
                  width: auto;
                  padding: 0;

                  & .chrono {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-content: flex-start;
                    align-items: flex-start;
                    order: 1;
                    border-right: 1px dashed black;

                    & .hour {
                      border-top: 1px solid black;
                      border-bottom: 1px solid transparent;
                      font-size: 8pt;
                      height: calc(42px - 2px);
                      width: 90px;
                      text-align: center;
                      padding: 0;
                      background: white;
                    }
                  }

                  & .sessions {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: stretch;
                    background: transparent;
                    gap: 0 2px;
                    order: 2;

                    & .session_column {
                      display: flex;
                      flex-flow: column nowrap;
                      justify-content: flex-start;
                      align-content: flex-start;
                      align-items: stretch;
                      border-right: 1px dotted black;
                      font-size: 8pt;
                      height: 100%;
                      width: 80px;
                      gap: 0;
                      text-align: center;
                      padding: 0;
                      border-radius: 0;
                      background: $plate_color;

                      & .session {
                        order: 2;
                        font-family: Roboto;
                        width: calc(100% - 2px);
                        background: $session_board;
                        color: black;
                        border-radius: 5px;
                        padding: 0;
                        padding-top: 3px;
                        border: 1px solid black;
                        cursor: pointer;
                      }


                      & .timefill {
                        background: $plate_color;
                        width: 100%;
                        color: black;

                        &.pre {
                          order: 1;

                        }

                        &.post {
                          order: 3;
                        }
                      }
                    }
                  }


                }


                &.large {
                  width: 600px;
                  justify-content: flex-start;

                  &:hover {
                    border-color: inherit;
                  }

                  & .day_body {
                    justify-content: flex-start;
                  }

                  & .day_info {

                  }
                }
                  &.day_off {
                    & .day_bottom, & .day_info {
                      background: $panel_day_off_background;
                    }


                  }

                  &.current_day {
                    & .day_bottom, & .day_info {
                      background: $panel_day_current_background;
                    }





                  }

              }
            }
          }
        }
      }
    }
  }
}

.bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3px 3px;
  background: transparent;
  width: 100%;

  & .lefters {
    order: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3px 3px;
    background: transparent;
  }

  & .righters {
    order: 2;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    gap: 3px 3px;

    background: transparent;
  }


}


.logo, .player_shortcut, .session_shortcut, .game_shortcut {

  display: inline-block;
  margin: 0;
  padding: 0;
}


table {

  width: 100%;

  & tr {
    width: auto;

    &.even {
      background: lighten($paper_background, 10%);
    }

    &.odd {
      background: lighten($paper_background, 20%);
    }

    //background:$paper_background;
    & td {

      padding: 2px;
      text-align: center;

      & strong{
        font-size:1.4em;
        white-space: break-spaces;

        width:150px;
        display:block;
        padding:5px;

        border-radius:5px;
        margin:auto;
        text-shadow:0px 0px 5px white;
      }

      &.text {
        text-align: left;
        white-space: pre-line;
        padding: 5px;
        margin: 0;

        font-family: roboto;

        & p {
          margin: 0;
          padding: 2px;
          text-indent: 3ex;
          text-align: justify;
          line-height: 0.93em;
        }
      }


      &.txt {
        max-width: 300px;
        padding: 3px;
        text-align: justify;
        white-space: pre-line;
        text-indent: 0;
        background: transparent;
        margin: 0;
        font-family: roboto;
        border-radius: 5px;

      }

    }

    & th {
      //width: 180px;
      background: $paper_border;
      color: $paper_color;
      padding: 2px;
      border-radius: 3px;
      text-align: center;
      vertical-align: top;
    }
  }
}

#overlay {

  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent url("/static/scheduler/mid.png") repeat;
  z-index: 10;
  padding: 0;
  margin: 0;
  //background-opacity: 0.85;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  //top: -8000px;

  & #dialog {
    z-index: 100;
    border: 1px solid $panel_border;
    background: $panel_background;
    color: $panel_color;
    padding: 5px;
    width: 650px;
    max-height: 800px;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 10pt;
    margin: auto;
    box-shadow: 0 0 50px black;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    gap: 3px 0;

    & .diag_header {
      order: 1;
      border-bottom: 1px solid white;
      background: $panel1_background;
      color: $panel1_color;
      border-color: $panel1_border;
      font-size: 12px;
      text-align: center;
      flex-basis: 50px;
      margin: 0;
      padding: 5px;
      border-radius: 10px;
      flex-grow: 1;
      flex-shrink: 5;
    }

    & .diag_body {
      order: 2;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      background: $panel1_background;
      color: $panel1_color;
      border-color: $panel1_border;
      width: auto;
      margin: 0;
      height: auto;
      max-height: 7000px;
      padding: 5px;
      border-radius: 5px;
      flex-grow: 15;
      flex-shrink: 1;
    }

    & .diag_footer {
      flex-grow: 1;
      flex-shrink: 5;
      order: 3;
      border-top: 1px solid white;
      background: $panel1_background;
      color: $panel1_color;
      border-color: $panel1_border;
      margin: 0;
      padding: 5px;
      border-radius: 10px;
      flex-basis: 50px;
    }
  }
}


.item_select {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  gap: 3px;

  & .item_block {
    width: 16ex;
    height: 4em;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    line-heigth: 0.9em;
    cursor: pointer;

    &.on {
      background: $highlight_background;
      border-color: $highlight_border;
      color: $highlight_color;

    }

    &.off {
      border-color: $panel1_border;
    }
  }

}

.session_of_the_day {
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 0px;
  background: transparent;

  &.wanted_session {
    border-color: $highlight_border;
    background: $highlight_background;
    color: $highlight_color;
  }

}


.shadow {
  background: $highlight_border;
}

.formblock {
  overflow-y: scroll;
  height: 500px;

  //& .formset {
  display: flex;
  flex-flow: column wrap;
  gap: 3px 3px;

  & table {

    & tr {
      & th {

        & label {
          width: 300px;
          order: 1;
          padding: 2px;


        }

        border-radius: 5px;
        background: $panel2_background;
        color: $panel2_color;
        border-color: $panel2_border

      }

      & td {
        width: auto;
        text-align: left;

        & span.helptext {
          color: #00ffff;
          display: none;
        }

        & ul.errorlist {
          order: 4;
          display: inline-block;

          & li {
            list-style-type: none;
            display: inline-block;
            color: $highlight_color;
            background: $highlight_background;
          }
        }


      }
    }
  }

  & .field_wrapper {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    gap: 10px 10px;
    border: 1px solid transparent;


    & textarea, & input, & select {
      order: 2;
      width: auto;
      background: $paper_background;
      color: $paper_color;
      font-size: 9pt;

    }

    & span.helptext {
      order: 3;
      width: 95%;
      padding-top: 0;
      margin-top: 0;
      font-size: 8pt;
      font-style: italic;
    }


  }
}


.button {
  font-family: Roboto;
  font-size: 10pt;
  width: 16ex;
  height: 1.5em;
  padding: 3px 5px;
  background: $button_background;
  color: $button_color;
  border: 1px solid $button_border;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  height: auto;
  display: inline-block;


  &:hover {
    background: $highlight_background;
    color: $highlight_color;
    border-color: $highlight_border;
  }

  cursor: pointer;

  &.compact {
    width: auto;
  }

  &.blank{
      background: $button_background2;
      color: $button_color2;
      border: 1px solid $button_border2;
  }

}


em.big {
  font-family: Anybody;
  font-size: 24pt;
  font-style: normal;
}

.all_propositions {
  max-width:1200px;
  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;
  align-items:flex-start;
  align-content: stretch;
  gap: 5px 5px;

  & .proposition_block {
    color: $paper_color;

    background:$paper_background;
    border: 2px solid $paper_border;
    border-radius: 5px;
    padding:5px;
    width:380px;
    height:500px;
    overflow-y:scroll;
    flex-grow:0;
    flex-shrink:0;
    & h1{
      margin:0;
    }
  }
}


.flash{
  border:10px solid lime !important;
}