{% load static %}

<div class="diag_header">
    <h1>A propos...</h1>
</div>

<div class="diag_body">
    <p>La raison d'être de cette application est de permettre d'organiser des parties de jeux de rôle.</p>
    <p>Si elle rappelle quelque chose à certains, c'est normal, c'est une refonte du système de réservation de parties utilisé il y a 15 ans par le club de jeux de rôles eXtraventures de Castanet-Tolosan.</p>
</div>

<div class="diag_footer">
<div class="bar">
    <div class='lefters'>

    </div>
    <div class='righters'>
        <div class="button compact modal_switch" action="close"><i class="fas fa-times"></i>&nbsp;Fermer
    </div>
</div>

</div>


