<form method="POST" id='model_form' name='model_form'>
    {% csrf_token %}
    <table class='update'>
        {{ form.non_field_errors }}
        {{ form.management_form }}
        <input type="hidden" name="id" value="{{ campaign_id }}"/>
        <input name='mj' type='hidden' value='{{ form.mj.value }}'>
        <tr>
            {{ form.title.errors }}
            <th><label for="title">Titre</label></th>
            <td>{{ form.title}}</td>
            <td></td>
        </tr>
        <tr>
            {{ form.game.errors }}
            <th><label for="game">Jeu</label></th>
            <td>{{ form.game }}</td>
            <td></td>
        </tr>
        <tr>
            {{ form.acronym.errors }}
            <th><label for="acronym">Acronyme</label></th>
            <td>{{ form.acronym }}</td>
            <td></td>
        </tr>
{#        <tr>#}
{#            {{ form.mj.errors }}#}
{#            <th><label for="mj">Meneur de jeu</label></th>#}
{#            <td>{{ form.mj }}</td>#}
{#            <td></td>#}
{#        </tr>#}
        <tr>
            {{ form.wanted.errors }}
            <th><label for="wanted">Sollicités</label></th>
            <td>{{ form.wanted }}</td>
            <td></td>
        </tr>
        <tr>
            {{ form.alpha.errors }}
            <th><label for="alpha">Couleur Alpha</label></th>
            <td><input type="color" name="alpha" value="{{ form.alpha.value }}"/></td>
        </tr>
        <tr>
            {{ form.description.errors }}
            <th><label for="description">Description</label></th>
            <td>{{ form.description }}</td>
            <td></td>
        </tr>

        <tr>
            {{ form.toc.errors }}
            <th><label for="toc">Plan/Organisation</label></th>
            <td>{{ form.toc }}</td>
            <td></td>
        </tr>
        <tr>
            {{ form.full_run_duration.errors }}
            <th><label for="full_run_duration">Nombre total de séances (estimation)</label></th>
            <td>{{ form.full_run_duration }}</td>
            <td></td>
        </tr>
        <tr>
            {{ form.is_visible.errors }}
            <th><label for="is_visible">Visible</label></th>
            <td>{{ form.is_visible }}</td>
            <td></td>
        </tr>
        <tr>
            {{ form.is_finished.errors }}
            <th><label for="is_finished">Terminée</label></th>
            <td>{{ form.is_finished }}</td>
            <td></td>
        </tr>
    </table>
</form>