{% load static %}
{% load global_filters %}

<div class="campaigns_list">
    <table>
        <tr>
            <th>Campagne</th>
            <th>Jeu</th>
            <th>Acronyme</th>
            <th>Première séance</th>
            <th>Séances jouées</th>
            <th>Séances restantes</th>
            <th>Noyau dur</th>
            <th>Action</th>
        </tr>
        {% for x in campaigns %}
            <tr class="{% cycle "odd" "even"  %}">
            {% include "scheduler/campaign_row.html" with c=x %}
            </tr>
        {% endfor %}
        <td colspan="8">
            <div class="button compact modal_switch" action="new_campaign"><i class="fas fa-circle-plus"></i>&nbsp;Nouvelle campagne</div>
        </td>
    </table>
</div>