{% load static %}
{% load global_filters %}


<div class="oday {{ c.day_off | as_day_off }} {{ c.current_day | as_current_day }}"
     style="border-top-color: {{ c.month_color }};">
    <div class="day_info display" action="dayzoom" param="{{ c.day }}">{{ c.day_info|safe }}
    </div>
    <div class="day_body">
        {% for x in c.day_body.sessions %}
            <div class="session_of_the_day {% if x.user_wanted %} wanted_session"  title="Vous êtes sollicités sur cette séance...{% endif %}">
                {% include "scheduler/session_shortcut.html" with s=x.s u=x.u g=x.g %}
            </div>
        {% endfor %}


    </div>
    <div class="day_bottom">
        {% if c.availabilities.availables %}
            <div style="display:block;float:right;width:15px;">
                <i class="fa fa-circle" title="{{ c.availabilities.availables_title }}" style="color:darkcyan;"></i>
            </div>
        {% endif %}
        {% if c.availabilities.absents %}
            <div style="display:block;float:left;width:15px;">
            <i class="fa fa-circle" title="{{ c.availabilities.absents_title }}" style="color:brown;"></i>
            </div>
        {% endif %}
    </div>
</div>