{% load static %}
{% load global_filters %}


<div class="oday {{ c.day_off | as_day_off }} {{ c.current_day | as_current_day }}"
     style="border-top-color: {{ c.month_color }};">
    <div class="day_info display " action="dayzoom" param="{{ c.day }}" id="day{{ c.day }}">yo {{ c.day_info|safe }}
    </div>
    <div class="day_body">
        {% for x in c.day_body.sessions %}
            <div class="session_of_the_day{% if x.user_requested %} wanted_session{% endif %}" title='¤ {{ x.title }} ¤  &#13;&#10;Une partie de {{ x.game.name }} &#13;&#10;par {{ x.mj.nickname }}{% if x.user_requested %} &#13;&#10;Vous êtes sollicités sur cette séance...{% endif %}{% if x.user_subscribed %} &#13;&#10;Vous êtes inscrits sur cette séance...{% endif %}'>
                {% include "scheduler/session_shortcut.html" with s=x u=x.mj g=x.game %}
            </div>
        {% endfor %}


    </div>
    <div class="day_bottom">
        {% if c.availabilities.availables %}
            <div style="display:block;float:right;width:25px;">
                {{ c.availabilities.availables_count }}&nbsp;<i class="fa fa-circle" title="{{ c.availabilities.availables_title }}" style="color:darkcyan;"></i>
            </div>
        {% endif %}
        {% if c.availabilities.absents %}
            <div style="display:block;float:left;width:25px;">
            <i class="fa fa-circle" title="{{ c.availabilities.absents_title }}" style="color:brown;"></i>&nbsp;{{ c.availabilities.absents_count }}
            </div>
        {% endif %}
    </div>
</div>