{% extends "base.html" %}
{% load static %}


{% block userzone %}
    <div class="bar">
        <div class='lefters'>
            <div class="title">
                <div class="logo">{% include 'scheduler/svg/logo.svg' %}</div>
                <div class="logo">{% include 'scheduler/svg/JDR31.svg' %}</div>
            </div>

        </div>
        <div class='righters'>
        </div>
    </div>
{% endblock userzone %}


{% block menuzone %}

{% endblock menuzone %}

{% block eventzone %}

{% endblock eventzone %}

{% block wrapper %}
<h3>Faces</h3>
<div class="gallery">
        {% for x in figures.face %}
                <div class='figure' title="Girl:{{ x.is_girl }}&#13;&#10;Face:{{ x.face_style }}&#13;&#10;Mouth/Beard:{{ x.mouth_style }}&#13;&#10;Hair:{{ x.hair_style }}">
                    {% include "scheduler/player_shortcut.html" with u=x large=1 notitle=1%}
                </div>
        {% endfor %}
</div>

<h3>Hairs</h3>
<div class="gallery">
        {% for x in figures.hair %}
                <div class='figure' title="Girl:{{ x.is_girl }}&#13;&#10;Face:{{ x.face_style }}&#13;&#10;Mouth/Beard:{{ x.mouth_style }}&#13;&#10;Hair:{{ x.hair_style }}">
                    {% include "scheduler/player_shortcut.html" with u=x large=1  notitle=1%}
                </div>
        {% endfor %}
</div>

<h3>Mouthes</h3>
<div class="gallery">
        {% for x in figures.mouth %}
                <div class='figure' title="Girl:{{ x.is_girl }}&#13;&#10;Face:{{ x.face_style }}&#13;&#10;Mouth/Beard:{{ x.mouth_style }}&#13;&#10;Hair:{{ x.hair_style }}">
                    {% include "scheduler/player_shortcut.html" with u=x large=1  notitle=1%}
                </div>
        {% endfor %}
</div>


{% endblock wrapper %}



{% block custom_js %}
    <script>
        _.defer(function () {
            let co = new Scheduler()
            co.perform();
            co.revealUI();
        });
    </script>
{% endblock custom_js %}