{% load static %}

<div class="ablock">
    Traqués<br/>
    {% for x in c.following %}
    {% include "scheduler/player_shortcut.html" with c=x %}
    {% endfor %}
</div>

<div class="eblock">
    Traqueurs<br/>
    {% for x in c.groupies %}
    {% include "scheduler/player_shortcut.html" with c=x %}
    {% endfor %}
</div>

<div class="eblock" style="padding:8px;">

    <div style="display:inline-block;border:1px solid black;background:{{user.profile.alpha}};width:20px; height:20px;">&nbsp;</div>
    <div style="display:inline-block;border:1px solid black;background:{{user.profile.beta}};width:20px; height:20px;">&nbsp;</div>
    <div style="display:inline-block;border:1px solid black;background:{{user.profile.gamma}};width:20px; height:20px;">&nbsp;</div>
</div>

<div class="zblock">
    version<br>{{version}}
</div>

