{% load static %}

<div class="ablock">
    {% include "scheduler/footer_followed.html" with c=c %}
</div>

<div class="eblock">
    {% include "scheduler/footer_followers.html" with c=c %}
</div>

<div class="eblock" style="padding:8px;">
</div>

<div class="eblock" style="padding:8px;">
</div>

<div class="eblock" style="padding:8px;">
</div>

<div class="eblock" style="padding:8px;">
    <div style="display:inline-block;border:1px solid black;background:{{ user.profile.alpha }};width:15px; height:15px;">
        &nbsp;
    </div>
    <div style="display:inline-block;border:1px solid black;background:{{ user.profile.beta }};width:15px; height:15px;">
        &nbsp;
    </div>
    <div style="display:inline-block;border:1px solid black;background:{{ user.profile.gamma }};width:15px; height:15px;">
        &nbsp;
    </div>
</div>

<div class="zblock">
    version<br>{{ version }}
</div>

