{% extends "base.html" %}
{%  load static %}

{% block userzone %}
    <div class="bar">
    <div class='lefters'>
        {% include "scheduler/player_shortcut.html" with c=user.profile %}
        <div class="button"><i class="fas fa-user"></i>&nbsp;{{ user }}</div>
        <div class="button"><i class="fas fa-question"></i>&nbsp;Aide</div>
    </div>
    <div class='righters'>
        <div class="button"><i class="fas fa-backward"></i>&nbsp;-4 semaines</div>
        <div class="button"><i class="fas fa-caret-left"></i>&nbsp;-1 semaine</div>
        <div class="button"><i class="fas fa-caret-right"></i>&nbsp;+1 semaine</div>
        <div class="button"><i class="fas fa-forward"></i>&nbsp;+4 semaines</div>
    </div>
    </div>
{% endblock userzone %}

{% block eventzone %}
Events zone
{% endblock eventzone %}

{% block wrapper %}
{% include "scheduler/month.html" with c=month %}
{% endblock wrapper %}

{% block custom_js %}
    <script>
        _.defer(function () {
            let co = new Scheduler()
            co.perform();
            co.revealUI();
            console.log("Frontend loaded")
        });
    </script>
{% endblock custom_js %}