{% load global_filters %}
<div class="diag_header">
    <h1>Modification du Profil</h1>
</div>

<div class="diag_body">
    <div class="formblock">
        {% include "scheduler/profile_update_form.html" %}
    </div>
</div>
<div class="diag_footer">
    <div class="bar">
        <div class='lefters'>
            <div class="button compact action shuntable" action="model_edit" param="profile" option="{{ profile_id }}"><i class="fas fa-check"></i>&nbsp;Valider</div>
        </div>
        <div class='righters'>
            <div class="button compact modal_switch" action="close" param="{{ profile_id }}" option="reday"><i class="fas fa-times"></i>&nbsp;Fermer</div>
        </div>
    </div>
</div>

