<div class="diag_header">
    <h1>Nouvelle partie</h1>
    {{ date }}
</div>

<div class="diag_body">
    <p>Merci de renseigner les champs obligatoires pour votre partie. La date par défaut est le jour sélectionné, vous
        pourrez éventuellement changer ça plus tard. Quant au MJ, c'est vous, et vous ne pourrez pas le changer... :)
    </p>
    <div class="formblock">

        <form method="POST" name='new_session_form' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.management_form }}
            <input name='mj' type='hidden' value='{{ request.user.profile }}'>
            <input name='date_start' type='hidden' value='{{ request.user.profile }}'>
            <div class="formset">
                <div class="field_wrapper">
                    {{ form.title.errors }}
                    <label for="title">Titre</label>
                    {{ form.title }}
                </div>
                <div class="field_wrapper">
                    {{ form.game.errors }}
                    <label for="game">Jeu</label>
                    {{ form.game }}
                </div>
                <div class="field_wrapper">
                    {{ form.campaign.errors }}
                    <label for="campaign">Campagne</label>
                    {{ form.campaign }}
                </div>
                <div class="field_wrapper">
                    {{ form.description.errors }}
                    <label for="description">Description</label>
                    {{ form.description }}
                </div>
                <div class="field_wrapper" title="On est à Toulouse... merci de donner une heure au quart d'heure près...">
                    {{ form.time_start.errors }}
                    <label for="time_start">Heure de début</label>
                    {{ form.time_start }}
                </div>
                <div class="field_wrapper" title="Vous ne savez pas qui va joueur et la partie est ouverte: entrez le nombre max de joueurs.">
                    {{ form.optional_spots.errors }}
                    <label for="optional_spots">Joueurs</label>
                    {{ form.optional_spots }}
                </div>
                <div class="field_wrapper" title="La partie est une suite, ou vous souhaitez réserver des places à certains participants... sélectionnez-les ici.">
                    {{ form.wanted.errors }}
                    <label for="wanted">Joueurs Sollicités</label>
                    {{ form.wanted }}
                </div>
                <div class="field_wrapper">
                    {{ form.newbies_allowed.errors }}
                    <label for="newbies_allowed">Partie d'initiation</label>
                    {{ form.newbies_allowed }}
                </div>
                <div class="field_wrapper">
                    {{ form.one_shot_adventure.errors }}
                    <label for="one_shot_adventure">Partie One Shot</label>
                    {{ form.one_shot_adventure }}
                </div>
                <div class="field_wrapper">
                    {{ form.place.errors }}
                    <label for="place">Lieu</label>
                    {{ form.place }}
                </div>
            </div>
        </form>
    </div>
</div>

<div class="diag_footer">
    <div class="bar">
        <div class='lefters'>
            <div class="button compact action" action="submit" param="new_session_form"><i class="fas fa-check"></i>&nbsp;Valider</div>
        </div>
        <div class='righters'>
            <div class="button compact modal_switch" action="close"><i class="fas fa-times"></i>&nbsp;Fermer</div>
        </div>
    </div>
</div>

