{% load static %}
{% load global_filters %}
<center><H1>{{ session.title|safe }}</h1></center>
{% if session.campaign %}
    <center>
        Un épisode de la campagne<br/><strong style="font-size:1.5em;">{{ session.campaign.title|safe }}</strong>
    </center>
{% endif %}
{% if owner %}
    <center>
        <span style="color:brown;">Vous êtes le MJ de cette séance, vous pouvez la modifier.</span>
    </center>
{% else %}
    <br/>
{% endif %}
<table>
    <tr>
        <td colspan="2" class="text">{{ session.description|safe }}
        </td>
    </tr>
    <tr>
        <th>Meneur de jeu</th>
        <td>{% include "scheduler/session_shortcut.html" with s=session u=session.mj g=session.game %}</td>
    </tr>
    <tr>
        <th>Jeu</th>
        <td>
            {% include "scheduler/game_shortcut.html" with g=session.game large=1 %}<br/>
            {{ session.game.name }} ({{ session.game.version }})</td>
    </tr>
    <tr>
        <th>Démarrage</th>
        <td>{{ session.date_start|as_date }} <i class="fa fa-arrow-circle-right"></i>
            {{ session.time_start|as_time }}</td>
    </tr>
    {% if session.episode_tag %}
        <tr>
            <th>Episode</th>
            <td>{{ session.episode_tag }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Partie unique</th>
        <td>{{ session.one_shot_adventure|as_bool|safe }}</td>
    </tr>
    <tr>
        <th>Partie d'initiation</th>
        <td>{{ session.newbies_allowed|as_bool|safe }}</td>
    </tr>
    <tr>
        <th>Difficulté</th>
        <td>{{ session.level|as_level|safe }}</td>
    </tr>
    {% if session.user_wanted %}
        <tr>
            <th>Sollicités</th>
            <td>

                {% for w in session.user_wanted %}
                    &nbsp;{% include "scheduler/player_shortcut.html" with u=w %}

                {% endfor %}

            </td>
        </tr>
    {% endif %}
    {% if session.optional_spots %}
        <tr>
            <th>Libre accès</th>
            <td>{{ session.optional_spots }} joueurs</td>
        </tr>
    {% endif %}

    {% if session.inscriptions %}
    <tr>
        <th>Inscrits (max: {{ session.max_players }})</th>
        <td style="background:#ffcc44;">
            {% for w in session.inscriptions %}
                &nbsp;{% include "scheduler/player_shortcut.html" with u=w %}
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if session.campaign %}
        <tr>
            <th>Campagne</th>
            <td class="text">{{ session.campaign.description|safe }}
            </td>
        </tr>
    {% endif %}
    {% if session.place %}
        <tr>
            <th>Lieu</th>
            <td>{{ session.place|safe }}</td>
        </tr>
    {% endif %}

</table>

<hr/>



