<div class="session_column">
    <div class="session_shortcut" title="{{ c.u.nickname }} mène une partie de {{ c.g.name }} ({{ c.s.title }})">
        <div class="timefill pre" style="height: {{c.timescale.pre_size}}px"></div>
        <div class="session display" action="session_details" param="{{c.s.id}}" style="height: calc({{c.timescale.size}}px - 5px ); ">
            {% include "scheduler/game_shortcut.html" with g=c.g %}
            {% include "scheduler/session_shortcut.html" with s=c.s u=c.u g=c.g %}
            {% if c.s.mandatory_spots %}
            Sollicités: {{c.s.mandatory_spots}}
            <br/>
            {% for x in c.inscriptions %}
                {% include "scheduler/player_shortcut.html" with u=x %}
            {% endfor %}
            <br/>
            {% endif %}
            {% if c.s.optional_spots %}
            Places Libres: {{c.s.optional_spots}}
            <br/>
            {% endif %}


        </div>
        <div class="timefill post"  style="height: {{c.timescale.post_size}}px"></div>
    </div>
</div>