<div class="diag_header">
    <h1>Nouvelle partie</h1>
</div>

<div class="diag_body">
    <div class="formblock">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_ul }}
        </form>
    </div>
</div>

<div class="diag_footer">
    <div class="bar">
        <div class='lefters'>
            <div class="button compact modal_switch" action="go"><i class="fas fa-check"></i>&nbsp;Valider</div>
        </div>
        <div class='righters'>
            <div class="button compact modal_switch" action="close"><i class="fas fa-times"></i>&nbsp;Fermer</div>
        </div>
    </div>
</div>

