<div class="session_column">
    <div class="session_shortcut" title="{{ c.mj.nickname }} mène une partie de {{ c.game.name }} ({{ c.title }})">
        <div class="timefill pre" style="height: {{c.game.pre_size}}px"></div>
        <div class="session" style="height: {{c.game.size}}px; background: {{c.s.alpha}};">
            {% include "scheduler/session_shortcut.html" with c=c %}
            {% if c.s.mandatory_spots %}
            Wanted: {{c.s.mandatory_spots}}
            <br/>
            {% for i in c.inscriptions %}
                {% include "scheduler/player_shortcut.html" with c=i %}
            {% endfor %}
            <br/>
            {% endif %}
            {% if c.s.optional_spots %}
            Places Libres: {{c.s.optional_spots}}
            <br/>
            {% endif %}

            {# include "scheduler/svg/player_unknown.svg" #}
        </div>
        <div class="timefill post"  style="height: {{c.game.post_size}}px"></div>
    </div>
</div>