{% load global_filters %}
<div class="diag_header">
    <h1>Nouvelle Partie</h1>
</div>

<div class="diag_body">
    <p>Votre partie vient d'être créée avec les valeurs par défaut à la date du jour. Elle apparaîtra à la fermeture de cette fenêtre.
        Il n'y a plus qu'à l'éditer pour préciser tout ce qu'il faut.... :)
    </p>

</div>
<div class="diag_footer">
    <div class="bar">
        <div class='lefters'>
        </div>
        <div class='righters'>
            <div class="button compact modal_switch" action="close" param="x" option="reday"><i class="fas fa-times"></i>&nbsp;Fermer</div>
        </div>
    </div>
</div>

