{% load static %}
{% load global_filters %}
<div class="user_details">
    <table style="width: 600px;">
        <tr>
            <th>
                Surnom
            </th>
            <td>
                {{profile.nickname|safe}}
            </td>
        </tr>
        <tr>
            <th>
                Symbole MJ
            </th>
            <td>
                {% include "scheduler/session_shortcut.html" with u=profile %}
            </td>
        </tr>
        <tr>
            <th>
                Symbole Joueur
            </th>
            <td>
                {% include "scheduler/player_shortcut.html" with u=profile %}
            </td>
        </tr>
        <tr>
            <th>
                Notes
            </th>
            <td class="text">
                {{profile.presentation | safe}}
            </td>
        </tr>
        <tr>
            <th>
                Sexe
            </th>
            <td>
                {{profile.is_girl|as_gender|safe}}
            </td>
        </tr>
        <tr>
            <th>
                Sans véhicle
            </th>
            <td>
                {{profile.need_drop|as_bool|safe}}
            </td>
        </tr>
        <tr>
            <th>
                Peut véhiculer
            </th>
            <td>
                {{profile.can_drop|as_bool|safe}}
            </td>
        </tr>

    </table>

</div>