/* line 4, scheduler/static/scheduler/css/main.scss */
body {
  font-family: Texte;
  background: #FFFFFF;
  color: #101010;
  min-height: 98%; }

/* line 12, scheduler/static/scheduler/css/main.scss */
.subsection {
  font-weight: bold;
  color: #DBCA86;
  text-decoration: underline; }

/* line 18, scheduler/static/scheduler/css/main.scss */
.pdflink {
  color: #E5DECA;
  text-decoration: none;
  background: #1d1d1d;
  display: inline-block;
  padding: 3px; }

/* line 26, scheduler/static/scheduler/css/main.scss */
.ping {
  background: orange; }

/* line 31, scheduler/static/scheduler/css/main.scss */
.toggle_name {
  font-weight: bold;
  font-style: normal;
  font-family: Titre;
  width: auto;
  display: inline-block; }

/* line 40, scheduler/static/scheduler/css/main.scss */
.waiting {
  cursor: progress;
  opacity: 0.95; }

/* line 45, scheduler/static/scheduler/css/main.scss */
.golden {
  color: #ffcc22; }

/* line 49, scheduler/static/scheduler/css/main.scss */
.blank {
  color: #C0C0C0;
  opacity: 0.5; }

/* line 54, scheduler/static/scheduler/css/main.scss */
.embedded_link {
  color: #DBCA86;
  text-decoration: none; }

/* line 59, scheduler/static/scheduler/css/main.scss */
.custom_glance {
  cursor: help; }

/* line 63, scheduler/static/scheduler/css/main.scss */
.shown {
  display: block; }

/* line 67, scheduler/static/scheduler/css/main.scss */
.noPDF:before {
  content: '(x) '; }

/* Normal --------------------------------------------------------------------*/
@media all and (min-width: 1024px) {
  /* line 74, scheduler/static/scheduler/css/main.scss */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: row wrap; }
    /* line 82, scheduler/static/scheduler/css/main.scss */
    body .userzone {
      background: red;
      border: 2px solid black;
      height: 20px;
      width: 200px;
      order: 2; }
    /* line 90, scheduler/static/scheduler/css/main.scss */
    body .menuzone {
      background: blue;
      border: 2px solid black;
      height: 20px;
      width: 200px;
      order: 1; }
    /* line 98, scheduler/static/scheduler/css/main.scss */
    body .wrapper {
      order: 3;
      background: green;
      border: 2px solid black;
      height: 20px;
      width: 200px; }
    /* line 106, scheduler/static/scheduler/css/main.scss */
    body .eventzone {
      order: 4;
      background: yellow;
      border: 2px solid black;
      height: 20px;
      width: 200px; } }
