/* line 66, scheduler/static/scheduler/css/_basics.scss */
.hidden {
  display: none; }

/* line 3, scheduler/static/scheduler/css/main.scss */
body {
  background: #808080;
  color: #101010;
  color: #101010;
  font-family: Acme; }

@media all and (min-width: 1024px) {
  /* line 10, scheduler/static/scheduler/css/main.scss */
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    row-gap: 1px;
    column-gap: 1px; }
    /* line 19, scheduler/static/scheduler/css/main.scss */
    body .spare_left {
      order: 1;
      flex-shrink: 2;
      background: red; }
    /* line 25, scheduler/static/scheduler/css/main.scss */
    body .spare_right {
      order: 3;
      flex-shrink: 2;
      background: blue; }
    /* line 32, scheduler/static/scheduler/css/main.scss */
    body .corpus {
      width: 1150px;
      flex-shrink: 1;
      order: 2;
      margin: 0;
      padding: 2px 2px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      row-gap: 1px;
      column-gap: 1px; }
      /* line 48, scheduler/static/scheduler/css/main.scss */
      body .corpus .menuzone {
        background: #efbc79;
        color: #536782;
        border: 1px solid transparent;
        min-height: 40px;
        width: 100%;
        order: 2;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        row-gap: 1px;
        column-gap: 1px; }
      /* line 66, scheduler/static/scheduler/css/main.scss */
      body .corpus .userzone {
        padding: 5px;
        background: #efbc79;
        color: #536782;
        border: 1px solid transparent;
        min-height: 20px;
        width: 100%;
        order: 1;
        text-align: right;
        font-size: 8pt;
        border-radius: 5px 5px 0 0; }
        /* line 78, scheduler/static/scheduler/css/main.scss */
        body .corpus .userzone .logo {
          order: 2; }
        /* line 82, scheduler/static/scheduler/css/main.scss */
        body .corpus .userzone .title {
          order: 3; }
        /* line 86, scheduler/static/scheduler/css/main.scss */
        body .corpus .userzone .title, body .corpus .userzone .pretitle {
          font-size: 32pt; }
          /* line 91, scheduler/static/scheduler/css/main.scss */
          body .corpus .userzone .title strong, body .corpus .userzone .pretitle strong {
            font-family: Gruppo;
            font-weight: bold;
            color: #536782; }
          /* line 97, scheduler/static/scheduler/css/main.scss */
          body .corpus .userzone .title em, body .corpus .userzone .pretitle em {
            font-family: Hubballi;
            color: #69809f;
            font-style: normal; }
        /* line 104, scheduler/static/scheduler/css/main.scss */
        body .corpus .userzone .pretitle {
          order: 1; }
      /* line 110, scheduler/static/scheduler/css/main.scss */
      body .corpus .wrapper {
        order: 3;
        background: #efbc79;
        color: #536782;
        border: 1px solid transparent;
        width: 100%;
        min-height: 400px;
        heigth: auto; }
      /* line 120, scheduler/static/scheduler/css/main.scss */
      body .corpus .eventzone {
        order: 4;
        font-family: roboto;
        font-size: 8pt;
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        align-content: stretch;
        align-items: stretch;
        min-height: 40px;
        background: #efbc79;
        color: #536782;
        border: 1px solid transparent;
        width: 100%;
        padding: 5px;
        border-radius: 0 0 5px 5px; }
        /* line 137, scheduler/static/scheduler/css/main.scss */
        body .corpus .eventzone .eblock {
          order: 5;
          width: 120px;
          text-align: center; }
        /* line 143, scheduler/static/scheduler/css/main.scss */
        body .corpus .eventzone .zblock {
          order: 10;
          width: 120px;
          text-align: center; }
  /* line 154, scheduler/static/scheduler/css/main.scss */
  .wrapper {
    font-size: 10pt; }
    /* line 157, scheduler/static/scheduler/css/main.scss */
    .wrapper .omonth {
      width: auto;
      height: auto;
      padding: 0;
      margin: auto 0;
      background: transparent;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      gap: 0 0; }
      /* line 170, scheduler/static/scheduler/css/main.scss */
      .wrapper .omonth .month_info {
        order: 1;
        background: #e79a35;
        color: #202020; }
      /* line 176, scheduler/static/scheduler/css/main.scss */
      .wrapper .omonth .month_body {
        order: 2;
        background: #b4b4b4;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        gap: 1px 0; }
        /* line 187, scheduler/static/scheduler/css/main.scss */
        .wrapper .omonth .month_body .oweek {
          border-radius: 5px;
          order: 2;
          height: auto;
          padding: 4px 2px;
          margin: auto 2px;
          background: #b4b4b4;
          color: #393530;
          display: flex;
          flex-flow: column wrap;
          justify-content: stretch;
          align-content: stretch;
          align-items: stretch;
          gap: 1px 1px; }
          /* line 202, scheduler/static/scheduler/css/main.scss */
          .wrapper .omonth .month_body .oweek .week_info {
            order: 1;
            background: #b4b4b4;
            color: #202020;
            margin: 0 4px;
            text-align: center; }
          /* line 211, scheduler/static/scheduler/css/main.scss */
          .wrapper .omonth .month_body .oweek .week_body {
            order: 2;
            background: transparent;
            color: #393530;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: flex-start;
            align-items: stretch;
            gap: 3px 3px; }
            /* line 222, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .day_details {
              order: 8;
              border: 3px solid black;
              text-align: left;
              color: #202020;
              width: 510px;
              height: 750px;
              padding: 5px;
              overflow-y: scroll; }
              /* line 232, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .day_details h1 {
                text-align: center; }
              /* line 236, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .day_details p {
                margin: 0;
                margin-bottom: 3px; }
              /* line 241, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .day_details table {
                border-left: 1px dashed black;
                border-right: 1px dashed black;
                width: 100%; }
                /* line 247, scheduler/static/scheduler/css/main.scss */
                .wrapper .omonth .month_body .oweek .week_body .day_details table tr td {
                  width: auto;
                  padding: 2px; }
                /* line 252, scheduler/static/scheduler/css/main.scss */
                .wrapper .omonth .month_body .oweek .week_body .day_details table tr th {
                  width: 180px;
                  background: silver;
                  padding: 2px;
                  text-align: right; }
            /* line 262, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .oday {
              display: flex;
              flex-flow: column wrap;
              justify-content: flex-start;
              align-content: stretch;
              align-items: stretch;
              background: #b4b4b4;
              color: #393530;
              width: 150px;
              gap: 0 0;
              border: 3px solid black;
              border-top-width: 8px; }
              /* line 275, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday:hover {
                border-color: #ff9100; }
              /* line 280, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday .day_info {
                order: 1;
                height: 3em;
                border: 1px solid transparent;
                background: #86b2b2;
                color: black;
                cursor: pointer; }
              /* line 290, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday .day_body {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-content: flex-start;
                align-items: stretch;
                gap: 0 3px;
                order: 2;
                min-height: 50px;
                background: #86b2b2;
                color: black;
                border: 1px solid transparent;
                width: auto;
                padding: 0; }
                /* line 305, scheduler/static/scheduler/css/main.scss */
                .wrapper .omonth .month_body .oweek .week_body .oday .day_body .chrono {
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: flex-start;
                  align-content: flex-start;
                  align-items: flex-start;
                  order: 1;
                  border-right: 1px dashed black; }
                  /* line 314, scheduler/static/scheduler/css/main.scss */
                  .wrapper .omonth .month_body .oweek .week_body .oday .day_body .chrono .hour {
                    border-top: 1px solid black;
                    border-bottom: 1px solid transparent;
                    font-size: 8pt;
                    height: 48px;
                    width: 90px;
                    text-align: center;
                    padding: 0;
                    background: white; }
                /* line 326, scheduler/static/scheduler/css/main.scss */
                .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions {
                  display: flex;
                  flex-flow: row nowrap;
                  justify-content: flex-start;
                  align-content: center;
                  align-items: stretch;
                  background: transparent;
                  gap: 0 2px;
                  order: 2; }
                  /* line 336, scheduler/static/scheduler/css/main.scss */
                  .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-content: flex-start;
                    align-items: stretch;
                    border-right: 1px dotted black;
                    font-size: 8pt;
                    height: 100%;
                    width: 90px;
                    gap: 0;
                    text-align: center;
                    padding: 0;
                    border-radius: 0;
                    background: #554f47; }
                    /* line 352, scheduler/static/scheduler/css/main.scss */
                    .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column .session {
                      order: 2;
                      width: calc(100% - 2px);
                      background: white;
                      color: #554f47;
                      border-radius: 5px;
                      padding: 0;
                      padding-top: 3px;
                      border: 1px solid black;
                      cursor: pointer; }
                    /* line 365, scheduler/static/scheduler/css/main.scss */
                    .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column .timefill {
                      background: #554f47;
                      width: 100%;
                      color: black; }
                      /* line 370, scheduler/static/scheduler/css/main.scss */
                      .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column .timefill.pre {
                        order: 1; }
                      /* line 375, scheduler/static/scheduler/css/main.scss */
                      .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column .timefill.post {
                        order: 3; }
              /* line 386, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday.day_off .day_info {
                background: #afaf68; }
              /* line 390, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday.day_off .day_body {
                background: #afaf68; }
              /* line 396, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday.current_day .day_info {
                background: #577057; }
              /* line 400, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday.current_day .day_body {
                background: #577057; }
              /* line 406, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday.large {
                width: 600px;
                justify-content: flex-start; }
                /* line 410, scheduler/static/scheduler/css/main.scss */
                .wrapper .omonth .month_body .oweek .week_body .oday.large:hover {
                  border-color: inherit; }
                /* line 414, scheduler/static/scheduler/css/main.scss */
                .wrapper .omonth .month_body .oweek .week_body .oday.large .day_body {
                  justify-content: flex-start; } }

/* line 430, scheduler/static/scheduler/css/main.scss */
.bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3px 3px;
  background: transparent;
  width: 100%; }
  /* line 440, scheduler/static/scheduler/css/main.scss */
  .bar .lefters {
    order: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3px 3px;
    background: transparent; }
  /* line 451, scheduler/static/scheduler/css/main.scss */
  .bar .righters {
    order: 2;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    gap: 3px 3px;
    background: transparent; }
  /* line 463, scheduler/static/scheduler/css/main.scss */
  .bar .button {
    font-family: Roboto;
    font-size: 10pt;
    width: 16ex;
    height: 1.5em;
    padding: 3px;
    background: #306590;
    color: #141414;
    border: 1px solid #905b30;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer; }
    /* line 476, scheduler/static/scheduler/css/main.scss */
    .bar .button:hover {
      background: #ff9100;
      color: black; }
    /* line 483, scheduler/static/scheduler/css/main.scss */
    .bar .button.compact {
      width: auto; }

/* line 491, scheduler/static/scheduler/css/main.scss */
.player_shortcut {
  display: inline-block; }
