/* line 4, scheduler/static/scheduler/css/main.scss */
body {
  font-family: Texte;
  background: #FFFFFF;
  color: #101010;
  min-height: 98%; }

/* line 12, scheduler/static/scheduler/css/main.scss */
.subsection {
  font-weight: bold;
  color: #DBCA86;
  text-decoration: underline; }

/* line 18, scheduler/static/scheduler/css/main.scss */
.pdflink {
  color: #E5DECA;
  text-decoration: none;
  background: #1d1d1d;
  display: inline-block;
  padding: 3px; }

/* line 26, scheduler/static/scheduler/css/main.scss */
.ping {
  background: orange; }

/* line 31, scheduler/static/scheduler/css/main.scss */
.toggle_name {
  font-weight: bold;
  font-style: normal;
  font-family: Titre;
  width: auto;
  display: inline-block; }

/* line 40, scheduler/static/scheduler/css/main.scss */
.waiting {
  cursor: progress;
  opacity: 0.95; }

/* line 45, scheduler/static/scheduler/css/main.scss */
.golden {
  color: #ffcc22; }

/* line 49, scheduler/static/scheduler/css/main.scss */
.blank {
  color: #C0C0C0;
  opacity: 0.5; }

/* line 54, scheduler/static/scheduler/css/main.scss */
.embedded_link {
  color: #DBCA86;
  text-decoration: none; }

/* line 59, scheduler/static/scheduler/css/main.scss */
.custom_glance {
  cursor: help; }

/* line 63, scheduler/static/scheduler/css/main.scss */
.shown {
  display: block; }

/* line 67, scheduler/static/scheduler/css/main.scss */
.noPDF:before {
  content: '(x) '; }

/* Normal --------------------------------------------------------------------*/
@media all and (min-width: 1024px) {
  /* line 74, scheduler/static/scheduler/css/main.scss */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    row-gap: 10px; }
    /* line 87, scheduler/static/scheduler/css/main.scss */
    body .menuzone {
      background: blue;
      border: 1px solid black;
      min-height: 40px;
      width: 100%;
      order: 1; }
    /* line 95, scheduler/static/scheduler/css/main.scss */
    body .userzone {
      background: red;
      border: 1px solid black;
      min-height: 20px;
      width: 100%;
      order: 2; }
    /* line 103, scheduler/static/scheduler/css/main.scss */
    body .wrapper {
      order: 3;
      background: green;
      border: 1px solid black;
      width: 100%;
      min-height: 400px; }
    /* line 111, scheduler/static/scheduler/css/main.scss */
    body .eventzone {
      order: 4;
      min-height: 20px;
      background: yellow;
      border: 1px solid black;
      width: 100%; } }
