/* line 12, scheduler/static/scheduler/css/main.scss */
body {
  font-family: Texte;
  background: #FFFFFF;
  color: #101010;
  font-family: Acme; }

/* line 21, scheduler/static/scheduler/css/main.scss */
.subsection {
  font-weight: bold;
  color: #DBCA86;
  text-decoration: underline; }

/* line 27, scheduler/static/scheduler/css/main.scss */
.pdflink {
  color: #E5DECA;
  text-decoration: none;
  background: #1d1d1d;
  display: inline-block;
  padding: 3px; }

/* line 35, scheduler/static/scheduler/css/main.scss */
.ping {
  background: orange; }

/* line 40, scheduler/static/scheduler/css/main.scss */
.toggle_name {
  font-weight: bold;
  font-style: normal;
  font-family: Titre;
  width: auto;
  display: inline-block; }

/* line 49, scheduler/static/scheduler/css/main.scss */
.waiting {
  cursor: progress;
  opacity: 0.95; }

/* line 54, scheduler/static/scheduler/css/main.scss */
.golden {
  color: #ffcc22; }

/* line 58, scheduler/static/scheduler/css/main.scss */
.blank {
  color: #C0C0C0;
  opacity: 0.5; }

/* line 63, scheduler/static/scheduler/css/main.scss */
.embedded_link {
  color: #DBCA86;
  text-decoration: none; }

/* line 68, scheduler/static/scheduler/css/main.scss */
.custom_glance {
  cursor: help; }

/* line 72, scheduler/static/scheduler/css/main.scss */
.shown {
  display: block; }

/* line 76, scheduler/static/scheduler/css/main.scss */
.noPDF:before {
  content: '(x) '; }

/* line 80, scheduler/static/scheduler/css/main.scss */
.hidden {
  display: none; }

@media all and (min-width: 1024px) {
  /* line 86, scheduler/static/scheduler/css/main.scss */
  body {
    margin: 0;
    padding: 2px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    row-gap: 1px;
    column-gap: 1px; }
    /* line 98, scheduler/static/scheduler/css/main.scss */
    body .menuzone {
      background: #F0F0F0;
      border: 1px solid transparent;
      min-height: 40px;
      width: 100%;
      order: 1;
      padding: 5px; }
    /* line 107, scheduler/static/scheduler/css/main.scss */
    body .userzone {
      padding: 5px;
      background: #F0F0F0;
      border: 1px solid transparent;
      min-height: 20px;
      width: 100%;
      order: 2;
      text-align: right;
      font-size: 8pt; }
    /* line 118, scheduler/static/scheduler/css/main.scss */
    body .wrapper {
      order: 3;
      background: #F0F0F0;
      border: 1px solid transparent;
      width: 100%;
      min-height: 400px;
      heigth: auto; }
    /* line 127, scheduler/static/scheduler/css/main.scss */
    body .eventzone {
      order: 4;
      min-height: 40px;
      background: #F0F0F0;
      border: 1px solid transparent;
      width: 100%;
      padding: 5px; } }

/* line 140, scheduler/static/scheduler/css/main.scss */
.wrapper {
  font-size: 10pt; }
  /* line 143, scheduler/static/scheduler/css/main.scss */
  .wrapper .omonth {
    width: 1150px;
    height: auto;
    padding: 20px 2px;
    margin: auto 0;
    background: #F0F0F0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 3px 3px; }
    /* line 156, scheduler/static/scheduler/css/main.scss */
    .wrapper .omonth .month_info {
      order: 1;
      background: #F0F0F0; }
    /* line 161, scheduler/static/scheduler/css/main.scss */
    .wrapper .omonth .month_body {
      order: 2;
      background: #F0F0F0; }
      /* line 165, scheduler/static/scheduler/css/main.scss */
      .wrapper .omonth .month_body .oweek {
        border-radius: 5px;
        order: 2;
        height: auto;
        padding: 4px 2px;
        margin: auto 2px;
        background: lightgrey;
        display: flex;
        flex-flow: column wrap;
        justify-content: stretch;
        align-content: center;
        align-items: stretch;
        gap: 1px 1px; }
        /* line 180, scheduler/static/scheduler/css/main.scss */
        .wrapper .omonth .month_body .oweek .week_info {
          order: 1;
          background: lightgrey;
          margin: 0 4px;
          text-align: right; }
        /* line 187, scheduler/static/scheduler/css/main.scss */
        .wrapper .omonth .month_body .oweek .week_body {
          order: 2;
          background: lightgrey;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-content: flex-start;
          align-items: stretch;
          gap: 3px 3px; }
          /* line 197, scheduler/static/scheduler/css/main.scss */
          .wrapper .omonth .month_body .oweek .week_body .oday {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: stretch;
            background: lightgrey;
            gap: 0 0;
            border: 3px solid silver; }
            /* line 207, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .oday:hover {
              border-color: cyan; }
            /* line 211, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .oday .day_info {
              order: 1;
              height: 3em;
              width: 150px;
              border: 1px solid transparent;
              background: lightcyan; }
            /* line 219, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .oday .day_body {
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-start;
              align-content: flex-start;
              align-items: flex-start;
              background: white;
              gap: 0 0;
              order: 2;
              width: 150px;
              min-height: 150px;
              background: lightcyan;
              border: 1px solid transparent; }
              /* line 234, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday .day_body .session {
                height: 3em;
                border: 3px solid transparent;
                font-size: 8pt;
                height: 50px;
                width: 50px;
                text-align: center;
                padding: 3px;
                border-radius: 3px; }
            /* line 248, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .oday.day_off .day_info {
              background: lightyellow; }
            /* line 252, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .oday.day_off .day_body {
              background: lightyellow; }
            /* line 256, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .oday.day_off:hover {
              border-color: yellow; }
            /* line 261, scheduler/static/scheduler/css/main.scss */
            .wrapper .omonth .month_body .oweek .week_body .oday.current_day {
              border-color: violet; }
              /* line 264, scheduler/static/scheduler/css/main.scss */
              .wrapper .omonth .month_body .oweek .week_body .oday.current_day:hover {
                border-color: mediumorchid; }

/* line 277, scheduler/static/scheduler/css/main.scss */
.bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3px 3px;
  background: transparent;
  width: 100%; }
  /* line 287, scheduler/static/scheduler/css/main.scss */
  .bar .lefters {
    order: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3px 3px;
    background: transparent; }
  /* line 299, scheduler/static/scheduler/css/main.scss */
  .bar .righters {
    order: 2;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    gap: 3px 3px;
    background: transparent; }
  /* line 311, scheduler/static/scheduler/css/main.scss */
  .bar .button {
    font-family: Abel;
    font-size: 10pt;
    width: 20ex;
    height: 1.5em;
    padding: 3px;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    cursor: pointer; }
    /* line 323, scheduler/static/scheduler/css/main.scss */
    .bar .button:hover {
      background: lightblue;
      color: black; }
