/*
@mixin panel {
  background: $panel_background;
  color: $panel_color;
  border: 1px solid $panel_border;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 0 0 3px $panel_shadow;
  font-family: Roboto;
  font-size: 10pt;
}
*/
/* line 92, scheduler/static/scheduler/css/_basics.scss */
.hidden {
  display: none !important; }

/* line 3, scheduler/static/scheduler/css/main.scss */
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #777777, #e18c0c);
  background: #777777;
  color: #101010; }

/* line 9, scheduler/static/scheduler/css/main.scss */
#bad_size {
  display: none;
  color: lightgreen;
  font-family: Cutive Mono;
  font-weight: bold;
  font-size: 9pt;
  padding: 2em; }

@media only screen and (max-width: 600px) {
  /* line 21, scheduler/static/scheduler/css/main.scss */
  body {
    background: black;
    border-left: 5px solid darkgoldenrod; }
    /* line 25, scheduler/static/scheduler/css/main.scss */
    body #bad_size {
      display: block; }
    /* line 29, scheduler/static/scheduler/css/main.scss */
    body .world {
      display: none !important; } }

@media only screen and (min-width: 601px) and (max-width: 1149px) {
  /* line 36, scheduler/static/scheduler/css/main.scss */
  body {
    background: black; }
    /* line 40, scheduler/static/scheduler/css/main.scss */
    body .world {
      display: none !important; } }

@media all and (min-width: 1150px) {
  /* line 49, scheduler/static/scheduler/css/main.scss */
  body .world {
    margin-top: 5px;
    z-index: 5;
    position: absolute;
    color: #101010;
    font-family: Acme;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    row-gap: 1px;
    column-gap: 1px;
    border-radius: 10px; }
    /* line 67, scheduler/static/scheduler/css/main.scss */
    body .world .spare_left {
      order: 1;
      flex-shrink: 2; }
    /* line 73, scheduler/static/scheduler/css/main.scss */
    body .world .spare_right {
      order: 3;
      flex-shrink: 2; }
    /* line 80, scheduler/static/scheduler/css/main.scss */
    body .world .corpus {
      box-shadow: 15px 10px 20px black;
      width: 1150px;
      flex-shrink: 1;
      order: 2;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      gap: 0 0;
      border-radius: 10px; }
      /* line 95, scheduler/static/scheduler/css/main.scss */
      body .world .corpus .menuzone, body .world .corpus .eventzone, body .world .corpus .userzone, body .world .corpus .wrapper {
        border: 1px solid #363939;
        background: #1d1f1f;
        color: #dcdede; }
      /* line 101, scheduler/static/scheduler/css/main.scss */
      body .world .corpus .menuzone {
        min-height: 10px;
        width: 100%;
        order: 2;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        gap: 1px 1px; }
      /* line 116, scheduler/static/scheduler/css/main.scss */
      body .world .corpus .adminzone {
        height: auto;
        background: transparent;
        width: 100%;
        order: 0;
        padding: 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: stretch;
        gap: 1px 1px; }
        /* line 130, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .adminzone .user_spare1 {
          order: 1;
          width: 150px;
          background: transparent; }
        /* line 136, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .adminzone .user_panel {
          order: 2;
          font-family: Roboto;
          font-size: 10pt;
          border-radius: 10px;
          border: 1px solid yellow;
          padding: 5px;
          background: #4e5454;
          border-color: #676e6e;
          color: white;
          width: auto; }
          /* line 148, scheduler/static/scheduler/css/main.scss */
          body .world .corpus .adminzone .user_panel a {
            color: #FFCC44;
            text-decoration: none; }
        /* line 154, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .adminzone .user_spare2 {
          order: 3;
          width: 150px;
          background: transparent; }
      /* line 162, scheduler/static/scheduler/css/main.scss */
      body .world .corpus .userzone {
        padding: 5px;
        min-height: 10px;
        width: 100%;
        order: 1;
        text-align: right;
        font-size: 8pt;
        border-radius: 10px 10px 0 0; }
        /* line 172, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .userzone .logo {
          order: 2;
          border-radius: 10px 10px 0 0; }
        /* line 177, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .userzone .title {
          order: 3; }
        /* line 182, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .userzone .title, body .world .corpus .userzone .pretitle {
          font-size: 32pt; }
          /* line 187, scheduler/static/scheduler/css/main.scss */
          body .world .corpus .userzone .title strong, body .world .corpus .userzone .pretitle strong {
            font-family: Gruppo;
            font-weight: bold;
            color: #dcdede; }
          /* line 193, scheduler/static/scheduler/css/main.scss */
          body .world .corpus .userzone .title em, body .world .corpus .userzone .pretitle em {
            font-family: Hubballi;
            color: #737b7b;
            font-style: normal; }
        /* line 200, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .userzone .pretitle {
          order: 1; }
      /* line 206, scheduler/static/scheduler/css/main.scss */
      body .world .corpus .wrapper {
        order: 3;
        width: 100%;
        min-height: 700px;
        heigth: auto;
        padding: 5px; }
      /* line 219, scheduler/static/scheduler/css/main.scss */
      body .world .corpus .eventzone {
        order: 4;
        font-family: roboto;
        font-size: 8pt;
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        align-content: stretch;
        align-items: stretch;
        min-height: 10px;
        width: 100%;
        padding: 5px;
        gap: 0 3px;
        border-radius: 0 0 5px 5px; }
        /* line 234, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .eventzone .ablock, body .world .corpus .eventzone .eblock, body .world .corpus .eventzone .zblock {
          border: 1px solid transparent;
          background: #363939;
          color: #f6f7f7;
          border-color: #4e5454; }
        /* line 241, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .eventzone .ablock {
          order: 1;
          width: 240px;
          text-align: center;
          border-radius: 5px 0 0 5px; }
        /* line 248, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .eventzone .eblock {
          order: 5;
          width: 120px;
          text-align: center; }
        /* line 254, scheduler/static/scheduler/css/main.scss */
        body .world .corpus .eventzone .zblock {
          order: 10;
          flex-grow: 1;
          text-align: center;
          border-radius: 0 5px 5px 0; }
  /* line 266, scheduler/static/scheduler/css/main.scss */
  body .wrapper {
    font-size: 10pt; }
    /* line 269, scheduler/static/scheduler/css/main.scss */
    body .wrapper .omonth {
      width: auto;
      height: auto;
      padding: 0;
      margin: auto 0;
      background: transparent;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      gap: 0 0; }
      /* line 282, scheduler/static/scheduler/css/main.scss */
      body .wrapper .omonth .month_info {
        order: 1;
        width: 100%;
        border-radius: 10px; }
      /* line 288, scheduler/static/scheduler/css/main.scss */
      body .wrapper .omonth .month_body {
        order: 2;
        background: transparent;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        gap: 5px 0; }
        /* line 299, scheduler/static/scheduler/css/main.scss */
        body .wrapper .omonth .month_body .oweek {
          border-radius: 10px;
          order: 2;
          height: auto;
          padding: 4px 2px;
          margin: auto 2px;
          background: #363939;
          color: #f6f7f7;
          border-color: #4e5454;
          display: flex;
          flex-flow: column wrap;
          justify-content: stretch;
          align-content: stretch;
          align-items: stretch;
          gap: 2px 2px; }
          /* line 315, scheduler/static/scheduler/css/main.scss */
          body .wrapper .omonth .month_body .oweek .week_info {
            order: 1;
            background: transparent;
            color: white;
            margin: 0 4px;
            text-align: center; }
          /* line 324, scheduler/static/scheduler/css/main.scss */
          body .wrapper .omonth .month_body .oweek .week_body {
            order: 2;
            background: transparent;
            color: white;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: flex-start;
            align-items: stretch;
            gap: 3px 3px; }
            /* line 335, scheduler/static/scheduler/css/main.scss */
            body .wrapper .omonth .month_body .oweek .week_body .day_details {
              order: 8;
              background: #b2b0a7;
              border: 3px solid #9a988c;
              text-align: left;
              color: #2a2b30;
              width: 510px;
              height: 625px;
              padding: 5px;
              overflow-y: scroll; }
              /* line 346, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .day_details h1 {
                text-align: center; }
              /* line 350, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .day_details p {
                margin: 0;
                margin-bottom: 3px; }
            /* line 358, scheduler/static/scheduler/css/main.scss */
            body .wrapper .omonth .month_body .oweek .week_body .oday {
              display: flex;
              flex-flow: column wrap;
              justify-content: flex-start;
              align-content: stretch;
              align-items: stretch;
              background: #1e1e1e;
              color: #dcdede;
              width: 150px;
              gap: 0 0;
              border: 3px solid #363939;
              border-top-width: 8px; }
              /* line 371, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday:hover {
                border-color: #ed8e00; }
              /* line 376, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday .day_info {
                order: 1;
                height: 3em;
                border: 1px solid transparent;
                background: #c4c4b6;
                color: black;
                cursor: pointer; }
              /* line 385, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday .day_bottom {
                order: 3;
                height: 20px;
                background: #4e5454;
                color: black;
                border: 1px solid transparent; }
              /* line 393, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday .day_body {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-content: flex-start;
                align-items: stretch;
                gap: 0 3px;
                order: 2;
                min-height: 50px;
                background: #c4c4b6;
                color: black;
                border: 1px solid transparent;
                width: auto;
                padding: 0; }
                /* line 408, scheduler/static/scheduler/css/main.scss */
                body .wrapper .omonth .month_body .oweek .week_body .oday .day_body .chrono {
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: flex-start;
                  align-content: flex-start;
                  align-items: flex-start;
                  order: 1;
                  border-right: 1px dashed black; }
                  /* line 417, scheduler/static/scheduler/css/main.scss */
                  body .wrapper .omonth .month_body .oweek .week_body .oday .day_body .chrono .hour {
                    border-top: 1px solid black;
                    border-bottom: 1px solid transparent;
                    font-size: 8pt;
                    height: calc(42px - 2px);
                    width: 90px;
                    text-align: center;
                    padding: 0;
                    background: white; }
                /* line 429, scheduler/static/scheduler/css/main.scss */
                body .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions {
                  display: flex;
                  flex-flow: row nowrap;
                  justify-content: flex-start;
                  align-content: center;
                  align-items: stretch;
                  background: transparent;
                  gap: 0 2px;
                  order: 2; }
                  /* line 439, scheduler/static/scheduler/css/main.scss */
                  body .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-content: flex-start;
                    align-items: stretch;
                    border-right: 1px dotted black;
                    font-size: 8pt;
                    height: 100%;
                    width: 90px;
                    gap: 0;
                    text-align: center;
                    padding: 0;
                    border-radius: 0;
                    background: #f6f7f7; }
                    /* line 455, scheduler/static/scheduler/css/main.scss */
                    body .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column .session {
                      order: 2;
                      font-family: Roboto;
                      width: calc(100% - 2px);
                      background: #89807B;
                      color: black;
                      border-radius: 5px;
                      padding: 0;
                      padding-top: 3px;
                      border: 1px solid black;
                      cursor: pointer; }
                    /* line 469, scheduler/static/scheduler/css/main.scss */
                    body .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column .timefill {
                      background: #f6f7f7;
                      width: 100%;
                      color: black; }
                      /* line 474, scheduler/static/scheduler/css/main.scss */
                      body .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column .timefill.pre {
                        order: 1; }
                      /* line 479, scheduler/static/scheduler/css/main.scss */
                      body .wrapper .omonth .month_body .oweek .week_body .oday .day_body .sessions .session_column .timefill.post {
                        order: 3; }
              /* line 490, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday.day_off .day_info {
                background: #dbdbd2; }
              /* line 494, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday.day_off .day_body {
                background: #dbdbd2; }
              /* line 500, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday.current_day .day_info {
                background: #9595e5; }
              /* line 504, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday.current_day .day_body {
                background: #9595e5; }
              /* line 510, scheduler/static/scheduler/css/main.scss */
              body .wrapper .omonth .month_body .oweek .week_body .oday.large {
                width: 600px;
                justify-content: flex-start; }
                /* line 514, scheduler/static/scheduler/css/main.scss */
                body .wrapper .omonth .month_body .oweek .week_body .oday.large:hover {
                  border-color: inherit; }
                /* line 518, scheduler/static/scheduler/css/main.scss */
                body .wrapper .omonth .month_body .oweek .week_body .oday.large .day_body {
                  justify-content: flex-start; } }

/* line 535, scheduler/static/scheduler/css/main.scss */
.bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3px 3px;
  background: transparent;
  width: 100%; }
  /* line 545, scheduler/static/scheduler/css/main.scss */
  .bar .lefters {
    order: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3px 3px;
    background: transparent; }
  /* line 556, scheduler/static/scheduler/css/main.scss */
  .bar .righters {
    order: 2;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    gap: 3px 3px;
    background: transparent; }
  /* line 568, scheduler/static/scheduler/css/main.scss */
  .bar .button {
    font-family: Roboto;
    font-size: 10pt;
    width: 16ex;
    height: 1.5em;
    padding: 3px 5px;
    background: #9e5600;
    color: white;
    border: 1px solid #d17200;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    height: auto;
    cursor: pointer; }
    /* line 583, scheduler/static/scheduler/css/main.scss */
    .bar .button:hover {
      background: #ed8e00;
      color: black;
      border-color: #ffa621; }
    /* line 591, scheduler/static/scheduler/css/main.scss */
    .bar .button.compact {
      width: auto; }

/* line 598, scheduler/static/scheduler/css/main.scss */
.player_shortcut {
  display: inline-block; }

/* line 605, scheduler/static/scheduler/css/main.scss */
table {
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  width: 100%; }
  /* line 611, scheduler/static/scheduler/css/main.scss */
  table tr td {
    width: auto;
    padding: 2px;
    text-align: center; }
    /* line 616, scheduler/static/scheduler/css/main.scss */
    table tr td.text {
      text-align: left;
      white-space: pre-wrap;
      padding: 5px;
      margin: 0;
      font-family: roboto; }
      /* line 624, scheduler/static/scheduler/css/main.scss */
      table tr td.text p {
        margin: 0;
        padding: 2px;
        text-indent: 3ex;
        text-align: justify;
        line-height: 0.93em; }
  /* line 634, scheduler/static/scheduler/css/main.scss */
  table tr th {
    width: 180px;
    background: #9a988c;
    color: #2a2b30;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    vertical-align: top; }

/* line 646, scheduler/static/scheduler/css/main.scss */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent url("/static/scheduler/mid.png?695752382ce9") repeat;
  z-index: 10;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center; }
  /* line 663, scheduler/static/scheduler/css/main.scss */
  #overlay #dialog {
    z-index: 100;
    border: 1px solid #363939;
    background: #1d1f1f;
    color: #dcdede;
    padding: 5px;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 10pt;
    margin: auto;
    padding: 15px;
    box-shadow: 0 0 50px black;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    gap: 0; }
    /* line 684, scheduler/static/scheduler/css/main.scss */
    #overlay #dialog .diag_header {
      order: 1;
      border-bottom: 1px solid white;
      background: #363939;
      color: #f6f7f7;
      border-color: #4e5454;
      font-size: 12px;
      text-align: center;
      height: 10%;
      margin: 2%;
      border-radius: 10px; }
    /* line 697, scheduler/static/scheduler/css/main.scss */
    #overlay #dialog .diag_body {
      order: 2;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      background: #363939;
      color: #f6f7f7;
      border-color: #4e5454;
      width: 96%;
      margin: 2%;
      height: 68%;
      padding: 1%;
      border-radius: 5px; }
    /* line 711, scheduler/static/scheduler/css/main.scss */
    #overlay #dialog .diag_footer {
      order: 3;
      border-top: 1px solid white;
      background: #363939;
      color: #f6f7f7;
      border-color: #4e5454;
      margin: 2%;
      padding: 1%;
      border-radius: 10px;
      height: 5%; }

/* line 726, scheduler/static/scheduler/css/main.scss */
.item_select {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  gap: 3px; }
  /* line 734, scheduler/static/scheduler/css/main.scss */
  .item_select .item_block {
    width: 16ex;
    height: 4em;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    line-heigth: 0.9em;
    cursor: pointer; }
    /* line 743, scheduler/static/scheduler/css/main.scss */
    .item_select .item_block.on {
      background: #ed8e00;
      border-color: #ffa621;
      color: black; }
    /* line 750, scheduler/static/scheduler/css/main.scss */
    .item_select .item_block.off {
      border-color: #4e5454; }

/* line 757, scheduler/static/scheduler/css/main.scss */
.session_of_the_day {
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 3px;
  background: transparent; }
  /* line 763, scheduler/static/scheduler/css/main.scss */
  .session_of_the_day.wanted_session {
    border-color: #ffa621;
    background: #ed8e00;
    color: black; }

/* line 771, scheduler/static/scheduler/css/main.scss */
.shadow {
  background: #ffa621; }

/* line 775, scheduler/static/scheduler/css/main.scss */
.formblock {
  overflow-y: scroll;
  height: 300px; }
  /* line 779, scheduler/static/scheduler/css/main.scss */
  .formblock .formset {
    display: flex;
    flex-flow: column wrap; }
    /* line 785, scheduler/static/scheduler/css/main.scss */
    .formblock .formset .field_wrapper {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      gap: 10px 10px;
      border: 1px solid transparent; }
      /* line 795, scheduler/static/scheduler/css/main.scss */
      .formblock .formset .field_wrapper label {
        order: 1;
        width: 200px;
        padding: 2px;
        border: 1px solid black;
        border-radius: 5px;
        background: #4e5454;
        color: white;
        border-color: #676e6e; }
      /* line 807, scheduler/static/scheduler/css/main.scss */
      .formblock .formset .field_wrapper textarea, .formblock .formset .field_wrapper input, .formblock .formset .field_wrapper select {
        order: 2;
        width: auto;
        background: #b2b0a7;
        color: #2a2b30;
        font-size: 9pt;
        width: 40%; }
      /* line 816, scheduler/static/scheduler/css/main.scss */
      .formblock .formset .field_wrapper span.helptext {
        order: 3;
        width: 95%;
        padding-top: 0;
        margin-top: 0;
        font-size: 8pt;
        font-style: italic; }
